body {
    background-color: #77A5DB;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    
}

.menu{
    height: 100vh;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.menu #logo{
    margin: 30px;
}



.screenP1{
    height: 100vh;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: none;    
}

h1{
    color: white;
    font-size: 60px;
    margin-top: 56px;
    font-weight: 700;
    line-height: 73px;
    margin-bottom: 0;

}

h1:hover{
    cursor: pointer;
}
.tiles {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 44px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 130px);
    gap: 20px;
}

.tile {
    background-size: cover;
    height: 130px;
    border-radius: 10px;
    border: 3px solid transparent;
    background-color: #F3F3F3;
    cursor:pointer;

    transition: transform 0.7s;
}

.tile:hover{
    border: 3px solid #4a69a0;

}
.tile.rotated {
    transform: rotateY(360deg); /* Adicionado 'rotateY(180deg)' */
    border: 3px solid #ffffff;

}
.buttons{
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center

}
.buttons button{    
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    border: none;
    width: 280px;
    height: 77px;
    background: #34639A;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    
    margin-right: 10px;
        
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s;
}

.menu .buttons{
    display: flex;
    flex-direction: column;
}

.menu .buttons button{
    width: 300px;
    margin: 15px;
}
.buttons button p {
    font-weight: 700;
    line-height: 42px;
    font-style: normal;
    color: #ffffff;

    font-size: 35px;
}

button:hover{
    transform: scale(1.03);

    border: 3px solid #ffffff;
}

button:active {

    background-color: rgb(155, 159, 171);
    /* Outros estilos para o botão clicado */
  }


  @media (max-width: 1920px){
    h1{
        font-size: 60px;
    }
    
    .tiles {
        grid-template-columns: repeat(4, 100px); 
        gap: 15px;
    }
    
    .tile {
        height: 100px;
    }
    .buttons button{        
        width: 212.5px;
        height: 55px;
        margin-bottom: 0;
    }

    .buttons button p {
        font-size: 19px;
    }

    a{
        margin-top: 5px;
        font-size: 10px;
    }

}

    @media(max-width: 513px){
        h1{
            font-size: 40px;
            margin-bottom:10px;
        }
        
        .tiles {
            grid-template-columns: repeat(4, 70px); 
            gap: 15px;
        }
        
        .tile {
            height: 70px;
        }
        .buttons button{        
            width: 212.5px;
            height: 55px;
            margin-bottom: 0;
        }
    
        .buttons button p {
            font-size: 19px;
        }
    
        a{
            margin-top: 5px;
            font-size: 10px;
        }
    }